[HELRevolver]

## Enable this weapon in-game
# Setting type: Boolean
# Default value: true
Enable = true

# Setting type: String
# Default value: Bataldo 3RB
Name = Bataldo 3RB

## Caution: any invalid characters will cause the mod to fail
# Setting type: String
# Default value: HEL Revolver
CategoryName = HEL Revolver

## Caution: any invalid characters will cause the mod to fail
# Setting type: String
# Default value: Semi automatic;Short to mid range;Overpenetrating rounds
Description = Semi automatic;Short to mid range;Overpenetrating rounds

# Setting type: HELRevolverSpecialMod
# Default value: NONE
# Acceptable values: NONE, BURST_REVOLVER, HIPFIRE_REVOLVER
SpecialMod = NONE

## Aggressive Version | HP: +35% dmg. -50% crit. +25% stag. -0.8 acc. | AP / FMJ: -10% dmg. +40% crit. +10% range. -50% stag.
# Setting type: HELRevolverBulletType
# Default value: HEL
# Acceptable values: HP, AP, HEL
BulletType = HEL

# Setting type: HELRevolverFrameType
# Default value: LIGHT
# Acceptable values: LIGHT, MEDIUM, HEAVY
FrameType = LIGHT

# Setting type: OptionalFlashLight
# Default value: MEDIUM_RANGE_2
# Acceptable values: NO_FLASHLIGHT, SHORT_RANGE, MEDIUM_RANGE_2, EXTENDED_RANGE, MEDIUM_RANGE, WIDE_RANGE
FlashLight = MEDIUM_RANGE_2

