[Rifle]

## Enable this weapon in-game
# Setting type: Boolean
# Default value: true
Enable = true

# Setting type: String
# Default value: Drekker Pres MOD 556
Name = Drekker Pres MOD 556

## Caution: any invalid characters will cause the mod to fail
# Setting type: String
# Default value: Rifle
CategoryName = Rifle

## Caution: any invalid characters will cause the mod to fail
# Setting type: String
# Default value: Semi automatic;Mid to long range;Well balanced
Description = Semi automatic;Mid to long range;Well balanced

# Setting type: WeaponScope
# Default value: SCOPE_TYPE_C
# Acceptable values: REFLEX_TYPE_A, HOLO_TYPE_A, SCOPE_TYPE_A, REFLEX_TYPE_C, REFLEX_TYPE_D, REFLEX_TYPE_E, REFLEX_TYPE_F, REFLEX_TYPE_G, HOLO_TYPE_B, THERMAL_TYPE_B, SCOPE_TYPE_C, THERMAL_TYPE_A, HOLO_TYPE_C, REFLEX_TYPE_P, SCOPE_TYPE_D, REFLEX_TYPE_H, REFLEX_TYPE_I, SCOPE_TYPE_E, REFLEX_TYPE_J, REFLEX_TYPE_K, REFLEX_TYPE_L, IRONSIGHT_TYPE_A, IRONSIGHT_TYPE_B, IRONSIGHT_TYPE_D, IRONSIGHT_TYPE_C, REFLEX_TYPE_M, REFLEX_TYPE_N, REFLEX_TYPE_O, REFLEX_TYPE_Q, SCOPE_TYPE_B, REFLEX_TYPE_R, HOLO_TYPE_D, REFLEX_TYPE_S
Sight = SCOPE_TYPE_C

# Setting type: FlashLight
# Default value: MEDIUM_RANGE
# Acceptable values: SHORT_RANGE, MEDIUM_RANGE_2, EXTENDED_RANGE, MEDIUM_RANGE, WIDE_RANGE
Flashlight = MEDIUM_RANGE

# Setting type: RifleFrameType
# Default value: TYPE_8
# Acceptable values: TYPE_1, TYPE_3, TYPE_7, TYPE_8, TYPE_9, TYPE_11, TYPE_13
FrameOption = TYPE_8

# Setting type: RifleSpecialMod
# Default value: NONE
# Acceptable values: NONE, HEAVY_RIFLE
SpecialMod = NONE

# Setting type: RifleClipSize
# Default value: STANDARD
# Acceptable values: STANDARD, DRUM
ClipSize = STANDARD

## Aggressive Version | HP: +35% dmg. -50% crit. +25% stag. -0.8 acc. | AP / FMJ: -10% dmg. +40% crit. +10% range. -50% stag.
# Setting type: RifleBulletType
# Default value: SP
# Acceptable values: SP, HP, FMJ
BulletType = SP

# Setting type: WeaponStock
# Default value: RIFLE_STOCK_B
# Acceptable values: PRECISION_STOCK_A, PRECISION_STOCK_B, RIFLE_STOCK_A, SMG_STOCK_A, RIFLE_STOCK_B, RIFLE_STOCK_C, SMG_STOCK_B, SHOTGUN_STOCK_A, PRECISION_STOCK_C, PRECISION_STOCK_D, SHOTGUN_STOCK_B
Stock = RIFLE_STOCK_B

