[BurstCannon]

## Enable this weapon in-game
# Setting type: Boolean
# Default value: true
Enable = true

# Setting type: String
# Default value: TechMan Klust 6
Name = TechMan Klust 6

## Caution: any invalid characters will cause the mod to fail
# Setting type: String
# Default value: Burst Cannon
CategoryName = Burst Cannon

## Caution: any invalid characters will cause the mod to fail
# Setting type: String
# Default value: Three round burst;Charge up firemode;Medium range;High power
Description = Three round burst;Charge up firemode;Medium range;High power

# Setting type: WeaponScope
# Default value: REFLEX_TYPE_A
# Acceptable values: REFLEX_TYPE_A, HOLO_TYPE_A, SCOPE_TYPE_A, REFLEX_TYPE_C, REFLEX_TYPE_D, REFLEX_TYPE_E, REFLEX_TYPE_F, REFLEX_TYPE_G, HOLO_TYPE_B, THERMAL_TYPE_B, SCOPE_TYPE_C, THERMAL_TYPE_A, HOLO_TYPE_C, REFLEX_TYPE_P, SCOPE_TYPE_D, REFLEX_TYPE_H, REFLEX_TYPE_I, SCOPE_TYPE_E, REFLEX_TYPE_J, REFLEX_TYPE_K, REFLEX_TYPE_L, IRONSIGHT_TYPE_A, IRONSIGHT_TYPE_B, IRONSIGHT_TYPE_D, IRONSIGHT_TYPE_C, REFLEX_TYPE_M, REFLEX_TYPE_N, REFLEX_TYPE_O, REFLEX_TYPE_Q, SCOPE_TYPE_B, REFLEX_TYPE_R, HOLO_TYPE_D, REFLEX_TYPE_S
Sight = REFLEX_TYPE_A

# Setting type: FlashLight
# Default value: WIDE_RANGE
# Acceptable values: SHORT_RANGE, MEDIUM_RANGE_2, EXTENDED_RANGE, MEDIUM_RANGE, WIDE_RANGE
Flashlight = WIDE_RANGE

# Setting type: BurstCannonFrameType
# Default value: TYPE_11
# Acceptable values: TYPE_2, TYPE_3, TYPE_6, TYPE_7, TYPE_8, TYPE_9, TYPE_10, TYPE_11, TYPE_12, TYPE_13
FrameOption = TYPE_11

# Setting type: BurstCannonSpecialMod
# Default value: BURST_3
# Acceptable values: BURST_1, BURST_2, BURST_3, BURST_4, BURST_5, AUTOMATIC
SpecialMod = BURST_3

# Setting type: BurstCannonClipSize
# Default value: DRUM
# Acceptable values: STANDARD, DRUM
ClipSize = DRUM

## Aggressive Version | HP: +35% dmg. -50% crit. +25% stag. -0.8 acc. | AP / FMJ: -10% dmg. +40% crit. +10% range. -50% stag.
# Setting type: BurstCannonBulletType
# Default value: SP
# Acceptable values: SP, HP, FMJ
BulletType = SP

# Setting type: WeaponStock
# Default value: RIFLE_STOCK_C
# Acceptable values: PRECISION_STOCK_A, PRECISION_STOCK_B, RIFLE_STOCK_A, SMG_STOCK_A, RIFLE_STOCK_B, RIFLE_STOCK_C, SMG_STOCK_B, SHOTGUN_STOCK_A, PRECISION_STOCK_C, PRECISION_STOCK_D, SHOTGUN_STOCK_B
Stock = RIFLE_STOCK_C

