[Revolver]

## Enable this weapon in-game
# Setting type: Boolean
# Default value: true
Enable = true

# Setting type: String
# Default value: Mastaba R66
Name = Mastaba R66

## Caution: any invalid characters will cause the mod to fail
# Setting type: String
# Default value: Revolver
CategoryName = Revolver

## Caution: any invalid characters will cause the mod to fail
# Setting type: String
# Default value: Semi automatic;High damage;Medium range;Heavy recoil
Description = Semi automatic;High damage;Medium range;Heavy recoil

# Setting type: RevolverSpecialMod
# Default value: NONE
# Acceptable values: NONE, FAN_THE_HAMMER, MAGNUM_44
SpecialMod = NONE

## Aggressive Version | HP: +35% dmg. -50% crit. +25% stag. -0.8 acc. | AP / FMJ: -10% dmg. +40% crit. +10% range. -50% stag.
# Setting type: RevolverBulletType
# Default value: SP
# Acceptable values: SP, HP, AP
BulletType = SP

# Setting type: RevolverFrameType
# Default value: HEAVY
# Acceptable values: LIGHT, MEDIUM, HEAVY
FrameType = HEAVY

# Setting type: OptionalFlashLight
# Default value: SHORT_RANGE
# Acceptable values: NO_FLASHLIGHT, SHORT_RANGE, MEDIUM_RANGE_2, EXTENDED_RANGE, MEDIUM_RANGE, WIDE_RANGE
FlashLight = SHORT_RANGE

