[SniperRifle]

## Enable this weapon in-game
# Setting type: Boolean
# Default value: true
Enable = true

# Setting type: String
# Default value: Köning PR 11
Name = Köning PR 11

## Caution: any invalid characters will cause the mod to fail
# Setting type: String
# Default value: Sniper
CategoryName = Sniper

## Caution: any invalid characters will cause the mod to fail
# Setting type: String
# Default value: Semi automatic;Long range;Hollow point rounds;Very high precision damage
Description = Semi automatic;Long range;Hollow point rounds;Very high precision damage

# Setting type: WeaponScope
# Default value: SCOPE_TYPE_B
# Acceptable values: REFLEX_TYPE_A, HOLO_TYPE_A, SCOPE_TYPE_A, REFLEX_TYPE_C, REFLEX_TYPE_D, REFLEX_TYPE_E, REFLEX_TYPE_F, REFLEX_TYPE_G, HOLO_TYPE_B, THERMAL_TYPE_B, SCOPE_TYPE_C, THERMAL_TYPE_A, HOLO_TYPE_C, REFLEX_TYPE_P, SCOPE_TYPE_D, REFLEX_TYPE_H, REFLEX_TYPE_I, SCOPE_TYPE_E, REFLEX_TYPE_J, REFLEX_TYPE_K, REFLEX_TYPE_L, IRONSIGHT_TYPE_A, IRONSIGHT_TYPE_B, IRONSIGHT_TYPE_D, IRONSIGHT_TYPE_C, REFLEX_TYPE_M, REFLEX_TYPE_N, REFLEX_TYPE_O, REFLEX_TYPE_Q, SCOPE_TYPE_B, REFLEX_TYPE_R, HOLO_TYPE_D, REFLEX_TYPE_S
Sight = SCOPE_TYPE_B

# Setting type: FlashLight
# Default value: EXTENDED_RANGE
# Acceptable values: SHORT_RANGE, MEDIUM_RANGE_2, EXTENDED_RANGE, MEDIUM_RANGE, WIDE_RANGE
Flashlight = EXTENDED_RANGE

# Setting type: SniperFrameType
# Default value: TYPE_9
# Acceptable values: TYPE_1, TYPE_2, TYPE_3, TYPE_7, TYPE_8, TYPE_9, TYPE_10, TYPE_12, TYPE_13
FrameOption = TYPE_9

# Setting type: SniperSpecialMod
# Default value: NONE
# Acceptable values: NONE, OVERLOADED_ROUND_SNIPER_RIFLE
SpecialMod = NONE

# Setting type: SniperClipSize
# Default value: COMPACT
# Acceptable values: STANDARD, COMPACT
ClipSize = COMPACT

# Setting type: WeaponStock
# Default value: PRECISION_STOCK_C
# Acceptable values: PRECISION_STOCK_A, PRECISION_STOCK_B, RIFLE_STOCK_A, SMG_STOCK_A, RIFLE_STOCK_B, RIFLE_STOCK_C, SMG_STOCK_B, SHOTGUN_STOCK_A, PRECISION_STOCK_C, PRECISION_STOCK_D, SHOTGUN_STOCK_B
Stock = PRECISION_STOCK_C

